.sizeButton {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sizeButton button {
  font-size: 0.8rem;
  font-weight: 700;
  background-color: #f0f0f0;  /* Cor de fundo padrão */
  border: 1px solid #ccc;
  padding: 0.6rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

button.selected {
  color: white;
  background-color: #C92071;  /* Cor rosa para o tamanho selecionado */
}

button:hover {
  color: white;
  background-color: #C92071;  /* Cor rosa ao passar o mouse */
}

.RespSizeShoes {
  color: #474747;
  font-size: 0.9rem;
}

.RespSizeShoes span {
  font-size: 1.2rem;
  font-weight: 700;
}
